* text=auto !eol
Include/client.h -text
Include/conf.h -text
Include/config.h.in -text
Include/defines.h -text
Include/dict.h -text
Include/dns.h -text
Include/dotconf.h -text
Include/getchar.h -text
Include/hash.h -text
Include/list.h -text
Include/log.h -text
Include/packet.h -text
Include/sock.h -text
Include/version.h -text
Libs/Makefile.in -text
Libs/encode.c -text
Libs/packet.c -text
/Makefile.in -text
Server/Makefile.in -text
Server/client.c -text
Server/conf.c -text
Server/dict.c -text
Server/dns.c -text
Server/dotconf.c -text
Server/hash.c -text
Server/list.c -text
Server/log.c -text
Server/main.c -text
Server/sock.c -text
Server/testclient.c -text
/aclocal.m4 -text
adns/Makefile -text
adns/adns.h -text
adns/check.c -text
adns/config.h -text
adns/config.h.in -text
adns/dlist.h -text
adns/event.c -text
adns/general.c -text
adns/internal.h -text
adns/parse.c -text
adns/query.c -text
adns/reply.c -text
adns/setup.c -text
adns/transmit.c -text
adns/tvarith.h -text
adns/types.c -text
/config.guess -text
/config.sub -text
/configure -text
/configure.in -text
/install-sh -text
libevent/Makefile.am -text
libevent/Makefile.in -text
libevent/acconfig.h -text
libevent/aclocal.m4 -text
libevent/buffer.c -text
libevent/compat/err.h -text
libevent/compat/sys/_time.h -text
libevent/compat/sys/queue.h -text
libevent/compat/sys/tree.h -text
libevent/config.h.in -text
libevent/configure -text
libevent/configure.in -text
libevent/epoll.c -text
libevent/epoll_sub.c -text
libevent/err.c -text
libevent/evbuffer.c -text
libevent/event.3 -text
libevent/event.c -text
libevent/event.h -text
libevent/evsignal.h -text
libevent/install-sh -text
libevent/kqueue.c -text
libevent/missing -text
libevent/mkinstalldirs -text
libevent/poll.c -text
libevent/rtsig.c -text
libevent/sample/Makefile.am -text
libevent/sample/Makefile.in -text
libevent/sample/event-test.c -text
libevent/sample/signal-test.c -text
libevent/sample/time-test.c -text
libevent/select.c -text
libevent/signal.c -text
libevent/stamp-h.in -text
libevent/test/Makefile.am -text
libevent/test/Makefile.in -text
libevent/test/bench.c -text
libevent/test/regress.c -text
libevent/test/test-eof.c -text
libevent/test/test-init.c -text
libevent/test/test-time.c -text
libevent/test/test-weof.c -text
libevent/test/test.sh -text
/mqserver.cfg -text
sqlite/Makefile.in -text
sqlite/Makefile.linux-gcc -text
sqlite/README -text
sqlite/VERSION -text
sqlite/aclocal.m4 -text
sqlite/art/SQLite.eps -text
sqlite/art/SQLite.gif -text
sqlite/config.guess -text
sqlite/config.sub -text
sqlite/configure -text
sqlite/configure.ac -text
sqlite/install-sh -text
sqlite/ltmain.sh -text
sqlite/main.mk -text
sqlite/publish.sh -text
sqlite/spec.template -text
sqlite/sqlite.1 -text
sqlite/sqlite.def -text
sqlite/sqlite.pc.in -text
sqlite/src/attach.c -text
sqlite/src/auth.c -text
sqlite/src/btree.c -text
sqlite/src/btree.h -text
sqlite/src/btree_rb.c -text
sqlite/src/build.c -text
sqlite/src/copy.c -text
sqlite/src/date.c -text
sqlite/src/delete.c -text
sqlite/src/encode.c -text
sqlite/src/expr.c -text
sqlite/src/func.c -text
sqlite/src/hash.c -text
sqlite/src/hash.h -text
sqlite/src/insert.c -text
sqlite/src/main.c -text
sqlite/src/md5.c -text
sqlite/src/os.c -text
sqlite/src/os.h -text
sqlite/src/pager.c -text
sqlite/src/pager.h -text
sqlite/src/parse.y -text
sqlite/src/pragma.c -text
sqlite/src/printf.c -text
sqlite/src/random.c -text
sqlite/src/select.c -text
sqlite/src/shell.c -text
sqlite/src/sqlite.h.in -text
sqlite/src/sqliteInt.h -text
sqlite/src/table.c -text
sqlite/src/tclsqlite.c -text
sqlite/src/test1.c -text
sqlite/src/test2.c -text
sqlite/src/test3.c -text
sqlite/src/test4.c -text
sqlite/src/tokenize.c -text
sqlite/src/trigger.c -text
sqlite/src/update.c -text
sqlite/src/util.c -text
sqlite/src/vacuum.c -text
sqlite/src/vdbe.c -text
sqlite/src/vdbe.h -text
sqlite/src/vdbeInt.h -text
sqlite/src/vdbeaux.c -text
sqlite/src/where.c -text
sqlite/test/all.test -text
sqlite/test/attach.test -text
sqlite/test/attach2.test -text
sqlite/test/auth.test -text
sqlite/test/bigfile.test -text
sqlite/test/bigrow.test -text
sqlite/test/bind.test -text
sqlite/test/btree.test -text
sqlite/test/btree2.test -text
sqlite/test/btree3.test -text
sqlite/test/btree3rb.test -text
sqlite/test/btree4.test -text
sqlite/test/btree4rb.test -text
sqlite/test/capi2.test -text
sqlite/test/conflict.test -text
sqlite/test/copy.test -text
sqlite/test/crashtest1.c -text
sqlite/test/date.test -text
sqlite/test/delete.test -text
sqlite/test/expr.test -text
sqlite/test/fkey1.test -text
sqlite/test/format3.test -text
sqlite/test/func.test -text
sqlite/test/hook.test -text
sqlite/test/in.test -text
sqlite/test/index.test -text
sqlite/test/insert.test -text
sqlite/test/insert2.test -text
sqlite/test/interrupt.test -text
sqlite/test/intpkey.test -text
sqlite/test/ioerr.test -text
sqlite/test/join.test -text
sqlite/test/join2.test -text
sqlite/test/lastinsert.test -text
sqlite/test/laststmtchanges.test -text
sqlite/test/limit.test -text
sqlite/test/lock.test -text
sqlite/test/main.test -text
sqlite/test/malloc.test -text
sqlite/test/memdb.test -text
sqlite/test/memleak.test -text
sqlite/test/minmax.test -text
sqlite/test/misc1.test -text
sqlite/test/misc2.test -text
sqlite/test/misc3.test -text
sqlite/test/misuse.test -text
sqlite/test/notnull.test -text
sqlite/test/null.test -text
sqlite/test/pager.test -text
sqlite/test/pragma.test -text
sqlite/test/printf.test -text
sqlite/test/progress.test -text
sqlite/test/quick.test -text
sqlite/test/quote.test -text
sqlite/test/rowid.test -text
sqlite/test/select1.test -text
sqlite/test/select2.test -text
sqlite/test/select3.test -text
sqlite/test/select4.test -text
sqlite/test/select5.test -text
sqlite/test/select6.test -text
sqlite/test/sort.test -text
sqlite/test/subselect.test -text
sqlite/test/table.test -text
sqlite/test/tableapi.test -text
sqlite/test/tclsqlite.test -text
sqlite/test/temptable.test -text
sqlite/test/tester.tcl -text
sqlite/test/thread1.test -text
sqlite/test/threadtest1.c -text
sqlite/test/threadtest2.c -text
sqlite/test/trans.test -text
sqlite/test/trigger1.test -text
sqlite/test/trigger2.test -text
sqlite/test/trigger3.test -text
sqlite/test/trigger4.test -text
sqlite/test/unique.test -text
sqlite/test/update.test -text
sqlite/test/vacuum.test -text
sqlite/test/version.test -text
sqlite/test/view.test -text
sqlite/test/where.test -text
sqlite/tool/diffdb.c -text
sqlite/tool/lemon.c -text
sqlite/tool/lempar.c -text
sqlite/tool/memleak.awk -text
sqlite/tool/memleak2.awk -text
sqlite/tool/mkopts.tcl -text
sqlite/tool/opcodeDoc.awk -text
sqlite/tool/report1.txt -text
sqlite/tool/showdb.c -text
sqlite/tool/showjournal.c -text
sqlite/tool/space_used.tcl -text
sqlite/tool/speedtest.tcl -text
sqlite/tool/speedtest2.tcl -text
sqlite/www/arch.fig -text
sqlite/www/arch.png -text
sqlite/www/arch.tcl -text
sqlite/www/arch2.fig -text
sqlite/www/arch2.fig.bak -text
sqlite/www/arch2.gif -text
sqlite/www/audit.tcl -text
sqlite/www/c_interface.tcl -text
sqlite/www/changes.tcl -text
sqlite/www/conflict.tcl -text
sqlite/www/datatypes.tcl -text
sqlite/www/download.tcl -text
sqlite/www/dynload.tcl -text
sqlite/www/faq.tcl -text
sqlite/www/fileformat.tcl -text
sqlite/www/formatchng.tcl -text
sqlite/www/index.tcl -text
sqlite/www/lang.tcl -text
sqlite/www/mingw.tcl -text
sqlite/www/nulls.tcl -text
sqlite/www/omitted.tcl -text
sqlite/www/opcode.tcl -text
sqlite/www/quickstart.tcl -text
sqlite/www/speed.tcl -text
sqlite/www/sqlite.tcl -text
sqlite/www/tclsqlite.tcl -text
sqlite/www/vdbe.tcl -text
sqlite/www/whentouse.tcl -text
