* text=auto !eol
Include/client.h -text
Include/conf.h -text
Include/config.h.in -text
Include/defines.h -text
Include/dict.h -text
Include/dotconf.h -text
Include/hash.h -text
Include/list.h -text
Include/log.h -text
Include/sock.h -text
Include/version.h -text
/Makefile.in -text
Server/client.c -text
Server/conf.c -text
Server/dict.c -text
Server/dotconf.c -text
Server/hash.c -text
Server/list.c -text
Server/log.c -text
Server/main.c -text
Server/sock.c -text
/aclocal.m4 -text
adns/Makefile -text
adns/adns.h -text
adns/check.c -text
adns/config.h -text
adns/config.h.in -text
adns/dlist.h -text
adns/event.c -text
adns/general.c -text
adns/internal.h -text
adns/parse.c -text
adns/query.c -text
adns/reply.c -text
adns/setup.c -text
adns/transmit.c -text
adns/tvarith.h -text
adns/types.c -text
/config.guess -text
/config.sub -text
/configure -text
/configure.in -text
/install-sh -text
libevent/Makefile.am -text
libevent/Makefile.in -text
libevent/acconfig.h -text
libevent/aclocal.m4 -text
libevent/buffer.c -text
libevent/compat/err.h -text
libevent/compat/sys/_time.h -text
libevent/compat/sys/queue.h -text
libevent/compat/sys/tree.h -text
libevent/config.h.in -text
libevent/configure -text
libevent/configure.in -text
libevent/epoll.c -text
libevent/epoll_sub.c -text
libevent/err.c -text
libevent/evbuffer.c -text
libevent/event.3 -text
libevent/event.c -text
libevent/event.h -text
libevent/evsignal.h -text
libevent/install-sh -text
libevent/kqueue.c -text
libevent/missing -text
libevent/mkinstalldirs -text
libevent/poll.c -text
libevent/rtsig.c -text
libevent/sample/Makefile.am -text
libevent/sample/Makefile.in -text
libevent/sample/event-test.c -text
libevent/sample/signal-test.c -text
libevent/sample/time-test.c -text
libevent/select.c -text
libevent/signal.c -text
libevent/stamp-h.in -text
libevent/test/Makefile.am -text
libevent/test/Makefile.in -text
libevent/test/bench.c -text
libevent/test/regress.c -text
libevent/test/test-eof.c -text
libevent/test/test-init.c -text
libevent/test/test-time.c -text
libevent/test/test-weof.c -text
libevent/test/test.sh -text
/mqserver.cfg -text
