* text=auto !eol
Include/admincli.h -text
Include/authqueue.h -text
Include/callback.h -text
Include/client.h -text
Include/conf.h -text
Include/config.h.in -text
Include/defines.h -text
Include/dict.h -text
Include/dns.h -text
Include/getchar.h -text
Include/hash.h -text
Include/libcli.h -text
Include/list.h -text
Include/log.h -text
Include/messagequeue.h -text
Include/mythread.h -text
Include/queuemanager.h -text
Include/serversock.h -text
Include/tcprioq.h -text
Include/version.h -text
/Makefile.am -text
/Makefile.in -text
/aclocal.m4 -text
adns/Makefile -text
adns/adns.h -text
adns/check.c -text
adns/config.h -text
adns/config.h.in -text
adns/dlist.h -text
adns/event.c -text
adns/general.c -text
adns/internal.h -text
adns/parse.c -text
adns/query.c -text
adns/reply.c -text
adns/setup.c -text
adns/transmit.c -text
adns/tvarith.h -text
adns/types.c -text
/ax_maintainer_mode_auto_silent.m4 -text
clients/Makefile.am -text
clients/Makefile.in -text
clients/hash.c -text
clients/list.c -text
clients/testclient.c -text
/config.guess -text
/config.sub -text
/configure -text
/configure.in -text
confuse/Makefile.am -text
confuse/Makefile.in -text
confuse/confuse.c -text
confuse/confuse.h -text
confuse/lexer.l -text
/depcomp -text
/install-sh -text
lib/include/buffer.h -text
lib/include/defines.h -text
lib/include/packet.h -text
lib/include/sock.h -text
lib/include/xds.h -text
lib/include/xds.h.in -text
lib/include/xds_engine_xdr_mqs.h -text
lib/include/xds_p.h -text
lib/src/Makefile.am -text
lib/src/Makefile.in -text
lib/src/buffer.c -text
lib/src/decodepacket.c -text
lib/src/encodepacket.c -text
lib/src/packet.c -text
lib/src/sock.c -text
lib/src/xds.c -text
lib/src/xds_engine_xdr.c -text
lib/src/xds_engine_xdr_mqs.c -text
lib/src/xds_engine_xml.c -text
lib/src/xds_version.c -text
libevent/Makefile.am -text
libevent/Makefile.in -text
libevent/acconfig.h -text
libevent/aclocal.m4 -text
libevent/buffer.c -text
libevent/compat/err.h -text
libevent/compat/sys/_time.h -text
libevent/compat/sys/queue.h -text
libevent/compat/sys/tree.h -text
libevent/config.h.in -text
libevent/configure -text
libevent/configure.in -text
libevent/epoll.c -text
libevent/epoll_sub.c -text
libevent/err.c -text
libevent/evbuffer.c -text
libevent/event.3 -text
libevent/event.c -text
libevent/event.h -text
libevent/evsignal.h -text
libevent/install-sh -text
libevent/kqueue.c -text
libevent/missing -text
libevent/mkinstalldirs -text
libevent/poll.c -text
libevent/rtsig.c -text
libevent/sample/Makefile.am -text
libevent/sample/Makefile.in -text
libevent/sample/event-test.c -text
libevent/sample/signal-test.c -text
libevent/sample/time-test.c -text
libevent/select.c -text
libevent/signal.c -text
libevent/stamp-h.in -text
libevent/test/Makefile.am -text
libevent/test/Makefile.in -text
libevent/test/bench.c -text
libevent/test/regress.c -text
libevent/test/test-eof.c -text
libevent/test/test-init.c -text
libevent/test/test-time.c -text
libevent/test/test-weof.c -text
libevent/test/test.sh -text
/ltmain.sh -text
/missing -text
/mkinstalldirs -text
/mqprotocol.txt -text
/mqserver.cfg -text
/rules.mk -text
src/Makefile.am -text
src/Makefile.in -text
src/admincli.c -text
src/authqueue.c -text
src/callback.c -text
src/client.c -text
src/conf.c -text
src/dict.c -text
src/dns.c -text
src/hash.c -text
src/libcli.c -text
src/list.c -text
src/log.c -text
src/main.c -text
src/messagequeue.c -text
src/mqserver.cfg -text
src/mythread.c -text
src/prioq.c -text
src/queuemanager.c -text
src/serversock.c -text
/subdirconfig.m4 -text
/xds.m4 -text
